# Игнорирование файлов конфигурации
/config.php

# Игнорирование файлов, содержащих конфиденциальную информацию
/secrets.php

# Игнорирование временных файлов и папок
/tmp/
/cache/
/backend/logs/
/backend/mysql/
# Игнорирование зависимостей и модулей
/backend/www/task.loc/vendor/
/frontend/node_modules/

# Игнорирование сгенерированных файлов
/build/
/dist/

# Игнорирование локальных настроек IDE и редакторов
.idea/
.vscode/

# Игнорирование временных файлов PHP
*.swp
*.swo

# Игнорирование логов ошибок PHP
error_log
