.table td {
    border: 1px solid black;

    /* text-align: center; */
}

.table-header th {
    text-align: center;
    border: 1px solid black;
}

.Table-header-with-option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: transparent;
    border-radius: 1px solid #808080;
    border-radius: 5px;
    padding: 6px;
}

.Menu {
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
}

.Menu input {
    height: 20px;
    width: 40%;
}

.count-span {
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}